<configuration>

  <!-- xml 에서 appender 가져오기 -->
  <include resource="logback-appender.xml"/>


  <!-- ROOT 로그 찍히는거 reference. 솔직히 뭔지 잘 모르겠음. -->
  <root level="INFO">
    <appender-ref ref="CONSOLE"/>

    <!--  SQL debug 둬서 쿼리도 잘 찍힘  -->
    <appender-ref ref="PER-REQUEST"/>
  </root>


  <!-- 우리 모듈에서 error 나는거 reference -->
  <logger name="com.palettee" level="ERROR" additivity="true">
    <appender-ref ref="EXCEPTION"/>
  </logger>


</configuration>
