<configuration>

  <!-- spring starter logging 에 있는 로깅 패턴 가져오기 -->
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

  <!-- property 에서 값 읽어오기 : 프로필별 로그 저장 위치 -->
  <!-- 로컬에서는 ./logs, EC2 에서는 ~/logs -->
  <springProperty name="LOG_DIR" source="LOG_DIR"/>

  <!-- 오늘 날짜, 로그 패턴 -->
  <timestamp key="TODAY" datePattern="yyyy-MM-dd"/>

  <!-- ANSI 적용되는 콘솔용 로그 패턴 -->
  <property name="LOG_PATTERN_CONSOLE"
    value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr([%t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wEx"/>
  <!-- ANSI 코드 없는 그냥 로그 패턴 -->
  <property name="LOG_PATTERN_PLAIN"
    value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } [%t] %-40.40logger{39} : %m%n%wEx"/>


  <!-- 콘솔 로그 보이게 하는 appender -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${LOG_PATTERN_CONSOLE}</pattern>
    </encoder>
  </appender>


  <!-- 요청 domain 별 로그 분리해 저장하는 sifting appender -->
  <appender name="PER-REQUEST" class="ch.qos.logback.classic.sift.SiftingAppender">
    <discriminator class="ch.qos.logback.classic.sift.MDCBasedDiscriminator">
      <key>DOMAIN_LOG_DIR</key>   <!-- 도메인 로그별 폴더 명, MDC 로 설정됨 -->
      <defaultValue>other</defaultValue>
    </discriminator>

    <sift>
      <appender name="FILE-${DOMAIN_LOG_DIR}"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
          <fileNamePattern>${LOG_DIR}/${DOMAIN_LOG_DIR}/${DOMAIN_LOG_DIR}.%d{yyyy-MM-dd}_%02i.log
          </fileNamePattern>
          <maxFileSize>10MB</maxFileSize>
          <maxHistory>14</maxHistory>
          <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>

        <encoder>
          <pattern>${LOG_PATTERN_PLAIN}</pattern>
        </encoder>
      </appender>
    </sift>
  </appender>


  <!-- 에러난 부분만 편하게 볼 수 있도록 집계하는 appender -->
  <appender name="EXCEPTION" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOG_DIR}/exceptions/%d{yyyy-MM-dd}-%02i.log</fileNamePattern>
      <maxFileSize>5MB</maxFileSize>
      <maxHistory>21</maxHistory>
      <cleanHistoryOnStart>true</cleanHistoryOnStart>
    </rollingPolicy>
    <encoder>
      <pattern>${LOG_PATTERN_PLAIN}</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
  </appender>


</configuration>